* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.menu {
  background-color: #3f51b5; /*darkblue*/
  height: 60px;
}

.header {
  background-color: #03a9f4; /*lightblue*/
}

.content {
  background-color: #9e9e9e; /*gray*/
  height: 600px;
}

.sign-up {
  background-color: rgba(158, 158, 158, 0.5); /*lightgray*/
}

.sign-up h2 {
  border: 3px solid black;
  border-radius: 15px;
  padding: 10px;
}

.sign-up a {
  color: black;
  text-decoration: none;
}

.sign-up a:hover h2 {
  background: gray;
  border: none;
  border-bottom: 3px solid black;
  color: white;
}

.feature-1 {
  background-color: #ffeb3b; /*yellow*/
}

.feature-2 {
  background-color: #f44336;/*red*/
}

.feature-3 {
  background-color: #673ab7; /*purple*/
}
